#
# SC1-specific configuration overrides. Usage of this file is deprecated.
# Any additions to this file should be considered temporary, and a CR must be
# filed to cover the ultimate removal of any additions made to this file.
# Please mention the removal CR in the commit message for any changes making
# additions to this file.
#
CONFIG_SUPPORT_AUO_MIPI_SC1_DISPLAY=y
CONFIG_SUPPORT_AUO_MIPI_SC1_COMMAND_MODE_DISPLAY=y
# CONFIG_SUPPORT_SMD_QHD_AMOLED_COMMAND_MODE_DISPLAY is not set
CONFIG_SENSORS_AK8963=n
