CONFIG_LOCALVERSION="-eng"
# CONFIG_ENABLE_MEMKILL_TRACER is not set
CONFIG_DYNAMIC_DEBUG=y
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_TOUCHSCREEN_DEBUG=y
CONFIG_PROFILING=y
CONFIG_OPROFILE=y
CONFIG_PM_DEBUG=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_SPINLOCK_SLEEP=y
CONFIG_DEBUG_LIST=y
CONFIG_SCHED_TRACER=y
CONFIG_LM2755_DEBUG=y
CONFIG_WATCHDOG_TEST=y
CONFIG_CRYPTO_MOTOROLA_FAULT_INJECTION=y
CONFIG_INPUT_KEYRESET=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_TASKSTATS=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_TASK_XACCT=y
CONFIG_TASK_IO_ACCOUNTING=y
CONFIG_PERF_COUNTERS=y
CONFIG_DEBUG_DEVRES=y
CONFIG_SCU_LOGGING=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_SHIRQ=y
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC_VALUE=1
CONFIG_TIMER_STATS=y
CONFIG_SPARSE_RCU_POINTER=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_LATENCYTOP=y
CONFIG_FUNCTION_TRACER=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_PREEMPT_TRACER=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_FUNCTION_PROFILER=y
CONFIG_EARLY_PRINTK_INTEL_MID=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_SLUB_DEBUG=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_INTEL_ATOM_SOC_DUMP=y
